.product-image {
  height: 232px !important;
}

.product-card {
  margin-left: 10px !important;
  margin-bottom: 10px !important;
  width: 300px;
  max-width: 300px !important;
}

.product-container {
  margin-left: 25px !important;
}