body {
  background-color: $smoke !important;
  font-family: $font-family !important;
  max-width: 100%;
  margin: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header {
  height: 100px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

a {
  color: black !important;
  text-decoration: none !important;
}

a:hover
{
  color:black !important;
  text-decoration:none !important;
  cursor:pointer !important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}